body {
  padding-block: 3rem;
  background-color: #e1e1e1;
  color: #000;
}

.header-demo {
  justify-content: space-between;
  align-items: center;
}

.header-demo .right {
  align-items: center;
}

.block {
  height: 100px;
  background-color: #e1e1e1;
}

.grid {
  margin-bottom: 1rem;
}

.socials-wrapper > div {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.socials-wrapper > div:first-of-type,
.socials-wrapper > div:nth-of-type(3),
.socials-wrapper > div:last-of-type {
  background-color: #fff;
}

.social-wrap {
  border: 1px solid #000;
  padding-block: 4rem;
}

.social-two {
  --socialWidth: 4rem;
  --socialHeight: 4rem;
  --socialGap: 4rem;
}

.article-list {
  --columns: 2;
}
